<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type='text/css' media='screen' href="main.css">
    <script src="main.js"></script>
    <title>Registration</title>
</head>
<body>
    <form action="register" method="post">
        {% csrf_token %}
        <input type="text" name="first_name" placeholder='first name'><br>
        <input type="text" name="last_name" placeholder='last name'><br>
        <input type="text" name="username" placeholder='username'><br>
        <input type="email" name="email" placeholder='email' required><br>
        <input type="password" name="password1" placeholder='password1'><br>
        <input type="password" name="confirm_password" placeholder='confirm password'><br>
        <input type="submit">

    </form>
</body>
</html>
